body{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

.Container_Pai{
    display: flex;
    align-content: center;
    text-align: center;
    flex-direction: column;
    width: 935px;
    min-height: 100vh;
    align-items: stretch;
    border: 3px solid black;
}

.lado_esquerdo{
    display: Flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 60%;
    border: 3px solid rgb(98, 0, 38);
}

.Box2_LadoDireito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    border: 3px solid rgb(255, 60, 0);
    margin: 15px;
}

.Box1_LadoDireito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    border: 3px solid blue;
    margin: 15px;
}

.foto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 30%;
    border-radius: 50px;
    margin: 10%;
}

.downloads{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;

}

